<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421599457817-0bis6b1iqftak1l0nq3lpsfms9h4fu42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421599457817-0bis6b1iqftak1l0nq3lpsfms9h4fu42</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>421599457817-2qqg3hsfqo7ouau9mch83m0o6h47bkmo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6cjh5pyoO5WYSmQJC_Dhi9gS2hPDKL3c</string>
	<key>GCM_SENDER_ID</key>
	<string>421599457817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.ufldemo</string>
	<key>PROJECT_ID</key>
	<string>universalfencingleague</string>
	<key>STORAGE_BUCKET</key>
	<string>universalfencingleague.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421599457817:ios:d14955f6bbefc72705f088</string>
</dict>
</plist>